<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur mon site</h1>
        <nav>
            <ul>
<li>
	<a href="{{ path('app_selection') }}">Voir le tableau des fréquences</a>
</li>

                <!-- Ajoute d'autres liens si nécessaire -->
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>
